#main{
    background: #000;
}

#logo{
    padding: 0;
    position: absolute;
    width: 140px;
    height: 70px;
    left: 268px;
    top: 1px;
}

.btn-custom {
  background-color: blue;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #ddd;
}
